<a href="https://colab.research.google.com/github/ramirozaracho/laboratorio/blob/main/Laboratorio1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Primer laboratorio de Analisis de Datos

## ETL (Extraccion, Transformacion y Carga)

### 1. Extracción

In [1]:
from google.colab import drive
import pandas as pd
import chardet

# Montamos google drive para acceder al archivo
drive.mount('/content/drive', force_remount=True)

ruta_archivo = '/content/drive/MyDrive/Visas_h-1b.csv'
with open(ruta_archivo, 'rb') as f:
    result = chardet.detect(f.read())


try:
  df = pd.read_csv(ruta_archivo, encoding=result['encoding'])
  print('extraccion de datos exitosa')
except FileNotFoundError:
  print(f'El archivo no se encuentra en la ruta: {ruta_archivo}')

Mounted at /content/drive
extraccion de datos exitosa

### 2. Transformación

In [14]:
# Muestra las primeras 5 filas del DataFrame
df.head()

,Numero_de_caso,Estado_del_caso,Nombre_de_empresa,Titulo,Codigo_de_titulo,Ocupacion,Tiempo_completo,Salario_previsto,Ciudad,Estado_abreviado,Año,Estado,Lugar de trabajo
0,I-200-09285-514415,CERTIFICADA,IT CATS LLC,ANALISTA DE SISTEMAS,15-1121,ANALISTA DE NEGOCIOS SENIOR,Y,109116.8,"NORTH WALES,",PA,2015,PENNSYLVANIA,"NORTH WALES, PENNSYLVANIA"
1,I-200-09341-564186,CERTIFICADA-RETIRADA,"XPERT TECHNOLOGIES, INC.","OCUPACIONES DE ORDENADOR, ENTRE OTROS",15-1799,QUALITY ASSURANCE ANALYST,Y,58282.0,CAMP HILL,PA,2015,PENNSYLVANIA,"CAMP HILL, PENNSYLVANIA"
2,I-200-09342-274341,CERTIFICADA,"ISR INFO WAY, INC.",DESAROLLADOR DE SOFTWARE,15-1132,DESAROLLADOR DE SOFTWARE SENIOR,Y,84906.0,CHICAGO,IL,2015,ILLINOIS,"CHICAGO, ILLINOIS"
3,I-200-09364-425868,CERTIFICADA,MAGIC CIRCLE FILMS INTERNATIONAL LLC,EDITOR DE CINE Y VIDEO,27-4032,EDITOR DE VIDEO,Y,39333.0,AUBURN,NY,2015,NEW YORK,"AUBURN, NEW YORK"
4,I-200-10006-413683,RETIRADA,SAPHIRE SOLUTIONS INC,ADMINISTRADOR DE REDES Y SISTEMAS,15-1142,ADMINISTRADOR DE SISTEMAS,Y,68638.0,BETHPAGE,NY,2015,NEW YORK,"BETHPAGE, NEW YORK"

In [3]:
# Renombrar columnas para traducirlas al español y entender mejor
df.rename(columns ={
    'CASE_NUMBER' : 'Numero_de_caso',
    'CASE_STATUS' : 'Estado_del_caso',
    'EMPLOYER_NAME' : 'Nombre_de_empresa',
    'SOC_NAME' : 'Titulo',
    'SOC_CODE' : 'Codigo_de_titulo',
    'JOB_TITLE' : 'Ocupacion',
    'FULL_TIME_POSITION' : 'Tiempo_completo',
    'PREVAILING_WAGE' : 'Salario_previsto',
    'WORKSITE_CITY' : 'Ciudad',
    'WORKSITE_STATE_ABB' : 'Estado_abreviado',
    'YEAR' : 'Año',
    'WORKSITE_STATE_FULL' : 'Estado',
    'WORKSITE' : 'Lugar de trabajo',
}, inplace=True)

In [4]:
# Resumen de la informacion del DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 857216 entries, 0 to 857215
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Numero_de_caso     857216 non-null  object
 1   Estado_del_caso    857216 non-null  object
 2   Nombre_de_empresa  857195 non-null  object
 3   Titulo             857210 non-null  object
 4   Codigo_de_titulo   857212 non-null  object
 5   Ocupacion          857211 non-null  object
 6   Tiempo_completo    857215 non-null  object
 7   Salario_previsto   857212 non-null  float64
 8   Ciudad             857188 non-null  object
 9   Estado_abreviado   857216 non-null  object
 10  Año                857216 non-null  int64
 11  Estado             857216 non-null  object
 12  Lugar de trabajo   857216 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 85.0+ MB

In [6]:
# Se renombran las filas de las columnas para traducirlas al español
df['Estado_del_caso'] = df['Estado_del_caso'].str.replace('CERTIFIED', 'CERTIFICADA')
df['Estado_del_caso'] = df['Estado_del_caso'].str.replace('WITHDRAWN', 'RETIRADA')
df['Estado_del_caso'] = df['Estado_del_caso'].str.replace('CERTIFIED-WITHDRAWN', 'CERTIFICADO-DENEGADO')
df['Estado_del_caso'] = df['Estado_del_caso'].str.replace('DENIED', 'DENEGADA')

df['Titulo'] = df['Titulo'].str.replace('COMPUTER SYSTEMS ANALYSTS', 'ANALISTA DE SISTEMAS')
df['Titulo'] = df['Titulo'].str.replace('COMPUTER OCCUPATIONS, ALL OTHER*', 'OCUPACIONES DE ORDENADOR, ENTRE OTROS')
df['Titulo'] = df['Titulo'].str.replace('SOFTWARE DEVELOPERS, APPLICATIONS', 'DESAROLLADOR DE SOFTWARE')
df['Titulo'] = df['Titulo'].str.replace('FILM AND VIDEO EDITORS', 'EDITOR DE CINE Y VIDEO')
df['Titulo'] = df['Titulo'].str.replace('NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS', 'ADMINISTRADOR DE REDES Y SISTEMAS')
df['Titulo'] = df['Titulo'].str.replace('COMPUTER PROGRAMMERS', 'PROGRAMADOR DE COMPUTADORA')
df['Titulo'] = df['Titulo'].str.replace('FINANCIAL ANALYSTS', 'ANALISTA FINANCIERO')
df['Titulo'] = df['Titulo'].str.replace('OPERATIONS RESEARCH ANALYSTS', 'ANALISTA DE INVESTIGACION')

df['Ocupacion'] = df['Ocupacion'].str.replace('SENIOR BUSINESS ANALYST', 'ANALISTA DE NEGOCIOS SENIOR')
df['Ocupacion'] = df['Ocupacion'].str.replace('BQUALITY ASSURANCE ANALYST', 'ANALISTA DE CONTROL DE CALIDAD')
df['Ocupacion'] = df['Ocupacion'].str.replace('SR. SOFTWARE DEVELOPER', 'DESAROLLADOR DE SOFTWARE SENIOR')
df['Ocupacion'] = df['Ocupacion'].str.replace('VIDEO EDITOR', 'EDITOR DE VIDEO')
df['Ocupacion'] = df['Ocupacion'].str.replace('SYSTEMS ADMINISTRATOR', 'ADMINISTRADOR DE SISTEMAS')

In [7]:
# Muestra los estados en que se encuentran las visas en el Dataframe
df['Estado_del_caso'].value_counts()

Estado_del_caso
CERTIFICADA             765099
CERTIFICADA-RETIRADA     53049
RETIRADA                 27297
DENEGADA                 11771
Name: count, dtype: int64

In [8]:
# Muestra cuantos valores nulos tiene la columna Ciudad
print(df['Ciudad'].isnull().sum())

28

In [9]:
df.describe()

       Salario_previsto            Año
count      8.572120e+05  857216.000000
mean       9.540074e+04    2016.997778
std        1.755489e+06       1.404460
min        0.000000e+00    2015.000000
25%        5.851000e+04    2016.000000
50%        7.032500e+04    2017.000000
75%        8.636200e+04    2018.000000
max        2.977853e+08    2019.000000

### 3. EDA (Analisis Exploratorio de Datos)

In [11]:
# ¿Que estados, ciudades o empresas ofrecen la mayor cantidad de visas H1-B?
df_aprobadas = df.groupby('Estado')['Nombre_de_empresa'].value_counts(ascending=False)

print('La empresa que mayor cantidad de visas ofrece es Infosys Limited')

print(df_aprobadas)

La empresa que mayor cantidad de visas ofrece es Infosys Limited
Estado     Nombre_de_empresa
ILLINOIS   INFOSYS LIMITED                      7191
           CAPGEMINI AMERICA INC                7030
           TATA CONSULTANCY SERVICES LIMITED    5214
           DELOITTE CONSULTING LLP              3355
           ACCENTURE LLP                        2995
                                                ...
WISCONSIN  ZOOMLION HEAVY INDUSTRY NA, INC.        1
           ZUME IT, INC.                           1
           ZYQUEST INC                             1
           ZYTUS, INC                              1
           ZYWAVE, INC.                            1
Name: count, Length: 93612, dtype: int64

In [12]:
# ¿En que año y de que ocupacion se rechazaron mas visas?

# Filtra solo por los casos denegados
df_rechazadas = df[df['Estado_del_caso'] == 'DENEGADA']

# Cuenta cuantos denegaciones hubo por año y ocupacion
rechazos_por_año_ocupacion = (df_rechazadas.groupby(['Año', 'Ocupacion']).size().reset_index(name='Cantidad_rechazos'))

# Busca la fila con el mayor numero de rechazos
mayor_rechazo = rechazos_por_año_ocupacion.loc[rechazos_por_año_ocupacion['Cantidad_rechazos'].idxmax()]

print(f"Año con más rechazos:", mayor_rechazo['Año'])
print(f"Ocupación con más rechazos:", mayor_rechazo['Ocupacion'])
print(f"Cantidad de rechazos:", mayor_rechazo['Cantidad_rechazos'])

Año con más rechazos: 2015
Ocupación con más rechazos: PROGRAMMER ANALYST
Cantidad de rechazos: 116

In [13]:
# Según tu perfil laboral, ¿en qué ciudad deberías estar para tener más oportunidades?

# Agrupa por ciudad la cantidad de oportunidades
oportunidades_por_ciudad = (df.groupby('Ciudad').size().reset_index(name='Cantidad_oportunidades'))

# Ordena de mayor a menor cantidad
mejores_diez = oportunidades_por_ciudad.sort_values('Cantidad_oportunidades',ascending=False)

# Selecciona la primer ciudad de la lista
mejor_ciudad = mejores_diez.iloc[0]['Ciudad']

print(mejores_diez.head(10))
print(f'La ciudad con más oportunidades laborales es: {mejor_ciudad}')

            Ciudad  Cantidad_oportunidades
4934      NEW YORK                  171386
1257       CHICAGO                   52999
5539  PHILADELPHIA                   24795
1415      COLUMBUS                   21677
5153      New York                   20881
5593    PITTSBURGH                   15134
4371   MINNEAPOLIS                   12050
3340  INDIANAPOLIS                   10673
7041          TROY                   10091
707    BLOOMINGTON                    9849
La ciudad con más oportunidades laborales es: NEW YORK